<div class="container " fxFlex>
<form [formGroup]="eventForm" (ngSubmit)="onFormSubmit()">
  <md-list dense>
    <h3 md-subheader style="color: black"><strong>Treatment</strong></h3>

    <div formArrayName="events">
      <md-list-item *ngFor="let event of events.controls; index as idx">
        <h3 md-line> {{labels[idx]}} </h3>
        <md-checkbox [formControlName]="idx" (change)="onCheckChange($event)" id="{{idx}}" value="{{labels[idx]}}"></md-checkbox>
      </md-list-item>
    </div>
  </md-list>
</form>
</div>
