<div class="container " fxFlex>
  <form [formGroup]="eventForm">
    <md-list dense>
      <div formArrayName="events">
        <div *ngFor="let section of eventItemGroups; let i=index">
          <h3 md-subheader class="subheader" style="color: black"><strong>{{section.title}}</strong></h3>
          <md-list-item *ngFor="let event of section.events as EventItemViewmodel; index as idx">
            <md-checkbox [formControlName]="event.controlIndex" id="{{event.text}}" (change)="onCheckChange($event)" [checked]="event.isActive"
              align="start">
              <span style="color: black">{{event.text}}</span></md-checkbox>
          </md-list-item>
        </div>
      </div>
    </md-list>
  </form>
</div>