<div class="container" fxLayout="row wrap">
  <div class="container" fxFlex="100%" fxLayout="row">
    <div fxFlex>
    <md-toolbar color="primary">
      <span>Event Timeline</span>
      <span class="example-spacer"></span>
      <span>Non-Small-Cell Lung Cancer, EGRF Mutation Positive, Stage IIIb</span>
    </md-toolbar>
    </div>
  </div>
  <div class="container" fxFlex="100%" fxLayout="row">
    <div fxFlex="80">
      <clinicalevent-chart></clinicalevent-chart>
    </div>
    <div class="control" fxFlex="20">
      <item-select></item-select>
    </div>
  </div>
</div>