<div class="container parent" fxLayout="row wrap">
  <div class="container" fxFlex="100%" fxLayout="row">
    <div fxFlex>
    <md-toolbar color="primary">
      <span>Non-Small-Cell Lung Cancer, EGFR Mutation Positive, Stage IIIb</span>
      <span class="example-spacer"></span>
      <span>Event Timeline</span>
    </md-toolbar>
    </div>
  </div>
  <div class="container" fxFlex="100%" fxLayout="row">
    <div fxFlex="80" class="container" fxLayout="row" fxLayoutWrap="wrap">
      <div fxFlex="100">
       <clinicalevent-chart></clinicalevent-chart>
      </div>
      <div  class="key-bar" fxFlex="100%">
        <key-bar></key-bar>
      </div>
    </div>
    <div class="item-select" class="control" fxFlex="20" style="overflow: scroll" >
      <item-select></item-select> 
      <!-- <event-list></event-list> -->
    </div>
  </div>
</div>