<div class="container" fxLayout="row" fxFlex>
  
  <form>
    <div class="container" fxLayout="row" fxFlex  *ngIf="model$ | async; let model; else loading">
      <div fxFlexOffset="20">
        <md-select name="monthSelect_start" [ngModel]="model.selectedStartMonth.value"  (change)="onSelectChange_start($event)">
          <md-option *ngFor="let month of model.startMonthOptions" [value]="month.value">
            {{month.viewValue}}
          </md-option>
        </md-select>
      </div>
      <div fxFlex></div>
      <div fxflex fxFlexOffset="295">
        <md-select name="monthSelect_end" [ngModel]="model.selectedEndMonth.value" (change)="onSelectChange_end($event)">
          <md-option *ngFor="let month of model.endMonthOptions" [value]="month.value">
            {{month.viewValue}}
          </md-option>
        </md-select>
      </div>
    </div>
  </form>
  <ng-template #loading>Loading User Data...</ng-template>
</div>