<div class="container" fxFlex>
<!-- <form>
 <md-select class="time-select" floatPlaceholder="never" (change)="onSelectChange()">
    <md-option class="time-select" *ngFor="let month of months; let i=index" value="{{month.value}}" >
     {{month.viewValue}}
    </md-option>
  </md-select>
</form>
     <form>
 <select id="date" >
    <option  *ngFor="let month of months; let i=index" value="{{month.value}}" >
     {{month.viewValue}}
    </option>
 </select>
 <select id="date2" >
    <option  *ngFor="let month of this.reversedDates; let i=index" value="{{month.value}}" >
     {{month.viewValue}}
    </option>
 </select>
</form>  -->
<form [formGroup]="datesForm">
  <!-- MD Select -Can't set default value, even though it works in Plunker!  -->
   <!-- <md-select  formGroupName="monthSelect_start" floatPlaceholder="never" (change)="onSelectChange_start($event)">
    <md-option *ngFor="let month of months; let i=index" value="{{month.value}}" >
     {{month.viewValue}}
    </md-option>
  </md-select> -->

   <select formGroupName="monthSelect_start" (change)="onSelectChange_start($event)">
    <option  *ngFor="let month of months; let i=index" value="{{month.value}}" >
     {{month.viewValue}}
    </option>
  </select> 
  <select formGroupName="monthSelect_end" (change)="onSelectChange_end($event)">
    <option  *ngFor="let month of this.reversedDates" value="{{month.value}}" >
     {{month.viewValue}}
    </option>
  </select>
</form>
</div>