<div class="container" fxLayout="row" fxFlex>

  <form>
    <div class="container" fxLayout="row" fxFlex>
      <div fxFlexOffset="20">
        <md-select name="monthSelect_start" [ngModel]="(model | async).selectedStartMonth.value" (change)="onSelectChange_start($event)">
          <md-option *ngFor="let month of (model | async).startMonthOptions" [value]="month.value">
            {{month.viewValue}}
          </md-option>
        </md-select>
      </div>
      <div fxFlex></div>
      <div fxflex fxFlexOffset="295">
        <md-select name="monthSelect_end" [ngModel]="(model | async).selectedEndMonth.value" (change)="onSelectChange_end($event)">
          <md-option *ngFor="let month of (model | async).endMonthOptions" [value]="month.value">
            {{month.viewValue}}
          </md-option>
        </md-select>
      </div>
    </div>
  </form>
</div>