<div class="container" fxLayout="column">
  <div class="container" fxLayout="row">
    <div fxFlex>
    <md-toolbar color="primary">
      <span>Event Timeline</span>
      <span class="example-spacer"></span>
    </md-toolbar>
    </div>
  </div>
  <div class="container" fxLayout="row" fxLayoutAlign="start">

    <!--<div class="d3-chart chart" fxFlex #chart>
    </div>-->
      <div class="d3-chart chart" fxFlex="80" #chart>
    </div>
    <!--<div class="chart" fxFlex><h1>Hello</h1>
    </div>-->

    <div class="control" fxFlex="20">
      <h1></h1>
    </div>
  </div>
  <!--<div class="container">
  </div>-->
</div>