<div class="d3-chart chart" #chart>
    </div> 
<!--<div class="container" fxLayout="column">
  <div class="container" fxLayout="row">
    <div fxFlex>
    <md-toolbar color="primary">
      <span>Event Timeline</span>
      <span class="example-spacer"></span>
    </md-toolbar>
    </div>
  </div>
  <div class="container" fxLayout="row">
      <div class="d3-chart chart" fxFlex="80" #chart>
    </div>
    <div class="control" fxFlex="20">
      <item-select></item-select>
    </div>
  </div>
</div>-->