/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/purple-green.css';


body {
    /*padding: 2em 23em;*/
    font-family: Roboto, sans-serif;
    /*background:lightgray;*/
    
}
.container {
  display: flex; /* or inline-flex */
}
.chart {
        background:lightgray;

}
.control {
        background:lightblue;

}
.key-bar {
        background:#0F0456;
        /* max-height: calc(100vh - 100px); */

}
.item-select {
        background:purple;
        max-height: 100px;

}
.parent {
        /* max-height: 100vh; */
        height: calc(100vh - 240px);
}

.d3-chart {
  width: 100%;
        min-height: calc(100vh - 100px); 
}

/*.d3-chart .axis path,
.d3-chart .axis line {
  stroke: #999;
}*/

/*.d3-chart .axis text {
  fill: #999;
}*/
/*app-root { 
  height: 100vh; 
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100%;  

}
clinicalevent-chart {
        min-height: 100vh; 
        min-width: 100%;  
}*/
item-select {
        overflow: auto;
}
md-list > h3{
     color: black;   
}
.subheader {
     color: black;   
}
 .time-select {
     color: white;   
} 
 .time-display {
     color: red;   
} 
.example-spacer {
  flex: 1 1 auto;
}
div.tooltip {   
                    position: absolute;
                    max-width: 200px;
                    height: auto;
                    padding: 5px;
                    background-color: white;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
                    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
                    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
                    pointer-events: none; /* MUI IMPORTANTE! */
                    font-family: sans-serif;
                    font-size:12px;
            }

