/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/purple-green.css';

body {
    /*padding: 2em 23em;*/
    font-family: Roboto, sans-serif;
    /*background:lightgray;*/
    
}
.container {
  display: flex; /* or inline-flex */
}
.chart {
        background:lightgray;

}
.control {
        background:lightblue;

}
.d3-chart chart{
        max-height: 100vh;
              /*min-height: 100vh; */
        min-width: 100%;  
  
}
app-root { 
  height: 100vh; 
  min-height: 100vh;
  max-height: 100vh;
        min-width: 100%;  

}
clinicalevent-chart {
        min-height: 100vh; 
        min-width: 100%;  
}
item-select {
        overflow: auto;
}
md-list-item h3{
     color: black;   
}
.subheader {
     color: black;   
}
.example-spacer {
  flex: 1 1 auto;
}

